h1 {
  text-align: center;
}

.container-1 {
  margin: 5vw;
  border: 2px solid black;
  padding: 10px;
}


.duck1 {
  margin-left: 40vw;
  display: block;
  border: 2px solid black;
  padding: 10px;
}

.container-2 {
  margin: 5vw;
  border: 2px solid black;
  padding: 10px;
}