h1 {
  text-align: center;
}
.text-layout-2 {
  display: inline-block;
  margin: 2vw;
  width: 20vw;
}

.text-layout-3 {
  display: inline-block;
  margin: 2vw;
  width: 20vw;
}

.duck2 {
  margin: 2vw;
  border: 2px solid black;
}

.duck3 {
  margin: 2vw;
  border: 2px solid black;
}